__pycache__/
guidelines.md
*.pdb
*.gro
*.zip
*.tpr
*.edr
*.log
*.trr
*.swp
*.xvg
*.xtc
*.offsets
*.cpt
*.err
*.out
*.sh
log*.*
!logo.png
.ipynb_checkpoints/
biobb_wf_md_setup_remote/notebooks/*.png
biobb_wf_md_setup_remote/notebooks/*.gif
biobb_wf_md_setup_remote/notebooks/*.web.ipynb
biobb_wf_md_setup_remote/notebooks/*.docs.ipynb
biobb_wf_md_setup_remote/notebooks/*.json
biobb_wf_md_setup_remote/notebooks/*.keys
*.old.ipynb
*.bk.ipynb
\#*\#